<section class="signup-form">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field>
      <mat-label>Your Email</mat-label>
      <input
        #emailInput="ngModel"
        email
        matInput
        name="email"
        ngModel
        placeholder="Your Email"
        required type="email">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Email is Invalid!</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 character long">
      <mat-label>Your Password</mat-label>
      <input
        #pwInput="ngModel"

        matInput
        minlength="6"
        name="password"
        ngModel
        placeholder="Your Password" required type="password">
      <mat-hint align="end"> {{pwInput.value?.length}}/ 6</mat-hint>
      <mat-error>has to be at least 6 character long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        [matDatepicker]="picker"
        [max]="maxDate"
        matInput
        name="birthdate"
        ngModel
        placeholder="Your Birthdate"
        required>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox color="primary" name="agree" ngModel required>Agree to Terms and Conditions</mat-checkbox>

    <button [disabled]="f.invalid" color="primary" mat-raised-button type="submit">Submit</button>
  </form>
</section>

